td{
    padding: 20px;
    color: black;
    font:20px arial;
    text-align: center;
    font-style: italic;
}
#actions{
position: relative;
left:-200px;
width:800px;height: 300px;
//background-color:;
}
table{

 }
table{
    background-color:white;
    width: 100%;
}
th{
    column-span:8;
    background-color:#373D40;
}